.container {
  width: 16rem;
  margin: 0 auto;
  background-color: #e1e0de;
}

body {
  background-color: #e1e0de;
}

header {
  position: relative;
  height: 1.8773333333rem;
  background-color: #fff;
  text-align: center;
  font-size: 0.768rem;
  line-height: 1.8773333333rem;
  color: #000;
}
header .return {
  position: absolute;
  left: 0.5546666667rem;
  bottom: 0.5546666667rem;
  width: 0.4266666667rem;
  height: 0.768rem;
}
header .return img {
  width: 0.4266666667rem;
  height: 0.768rem;
  vertical-align: top;
}

main .title {
  height: 1.92rem;
  display: flex;
  padding: 0 0.64rem;
  line-height: 1.92rem;
  justify-content: space-between;
}
main .title p:first-child {
  font-size: 0.6613333333rem;
  color: #5d5d5d;
}
main .title p:last-child {
  font-size: 0.64rem;
  color: #e0393b;
}
main .list {
  height: 2.56rem;
  border-radius: 0.256rem;
  width: 96%;
  margin: 0.5333333333rem 2% 0;
  background-color: #fefeff;
  padding: 0 0.64rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .list .left {
  display: flex;
  align-items: center;
  font-size: 0.64rem;
}
main .list .left img {
  width: 2.0266666667rem;
  height: 2.0266666667rem;
  margin-right: 0.32rem;
}
main .list .right {
  width: 0.4693333333rem;
  height: 0.5333333333rem;
}
main .confirm {
  width: 90%;
  margin: 0 5% 0;
  height: 7.8933333333rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.2133333333rem;
  padding: 0.7466666667rem 0 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
}
main .confirm .tip {
  color: #333132;
  font-size: 0.5546666667rem;
  margin-top: 0.2133333333rem;
  font-weight: 700;
}
main .confirm input {
  height: 1.7066666667rem;
  font-size: 0.64rem;
  color: #dcdadb;
  margin: 0.64rem 0;
  text-align: center;
  border: 0;
  outline: none;
}
main .confirm .item {
  border-top: 2px solid #ececec;
  display: flex;
  height: 2.2333333333rem;
  align-items: center;
}
main .confirm .item a {
  flex: 1;
  height: 100%;
  line-height: 2.1333333333rem;
  font-size: 0.5973333333rem;
  color: #121011;
  font-weight: 700;
}
main .confirm .item a:last-child {
  border-left: 2px solid #f0f0f0;
  color: #5a9ba9;
}

#show {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4c4c4c;
  z-index: 888;
  opacity: 0.5;
}

.confirmpay {
  position: absolute;
  top: 39%;
  left: 0;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  background-color: #fff;
  border-radius: 0.2133333333rem;
  z-index: 1000;
}
.confirmpay .titles {
  height: 3.2rem;
  text-align: center;
  font-size: 0.9173333333rem;
  line-height: 3.2rem;
  color: #333;
}
.confirmpay a {
  height: 2.1333333333rem;
  display: block;
  line-height: 2.1333333333rem;
  color: red;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  font-size: 0.704rem;
}
.confirmpay .no {
  height: 2.1333333333rem;
  line-height: 2.1333333333rem;
  font-size: 0.704rem;
}

/*# sourceMappingURL=selectpay.css.map */
