<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账号管理</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/accountmage.css">
    <script src="./js/Transformation.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./extend/layer/layer.js"></script>
</head>
<body>
<div class="container" id="app">
    <header>
        <a href="javascript:history.go(-1);" class="return"><img src="./images/backs.jpg" alt=""></a>
        <p>账号管理</p>
    </header>
    <main>
        <p class="item">已绑定账号</p>
        <a href="accountbind.html" class="option">
            <div class="box">
                <img src="./images/catch_03.jpg" alt="">
                <div class="info">
                    <p>银行卡</p>
                    <p v-if="tel!=0">{{tel}}</p>
                    <p v-if="tel==0">暂无</p>
                </div>
            </div>
            <div class="right">
                <span v-if="tel!=0">修改</span><span v-if="tel==0">添加</span><img src="./images/right_03.jpg" alt="">
            </div>
        </a>
    </main>
</div>
<script>
    new Vue({
        el : '#app',
        data:{
            uid :0,
            tel :0,
            flag : 0
        },
        methods:{
            getdata(){
                axios.post(`https://csyueshi.com/app/index.php?i=3&c=entry&a=wxapp&m=mask&do=GetCard&uid=${this.uid}`).then(res=>{
                    if(res.data.data==false){
                        this.tel = 0;
                    }else{
                        function fn(phone) {
                            phone = phone.replace(/(\d{3})\d{4}(\d{4})/, '$1****$2');
                            return phone;
                        }
                        this.tel = fn(res.data.data.phone);
                    }
                })
            }
        },
        created(){
            this.uid = localStorage.uid;
            this.getdata();
        }
    })
</script>
</body>
</html>