<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置密码</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setpaypassword.css">
    <script src="./js/Transformation.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./extend/layer/layer.js"></script>
</head>
<body>
<div class="container" id="app">
    <header>
        <a href="javascript:history.go(-1);" class="return"><img src="./images/back.png" alt=""></a>
        <p>设置密码</p>
    </header>
    <main>
        <div class="login">
            <p>设置密码</p>
        </div>
        <div class="input">
            <div class="lg-list">
                <div><img src="./images/login_07.jpg" alt=""></div>
                <input type="number" v-model="tel" placeholder="请输入手机号码">
            </div>
            <div class="lg-list">
                <div><img src="./images/register_03.jpg" alt=""></div>
                <input type="number" v-model="code" placeholder="请输入验证码"><button type="button" :disabled="flag==1" @click="send($event)" class="rg-gain">获取验证码</button>
            </div>
            <div class="lg-list">
                <div><img src="./images/login_11.jpg" alt=""></div>
                <input type="text" v-model="paypsd" placeholder="请输入支付密码">
            </div>
        </div>
        <a href="#" class="go" @click.prevent="submit">设置密码</a>
    </main>
</div>
<script>
    new Vue({
        el : '#app',
        data:{
            tel:'',
            code :'',
            paypsd:'',
            uid :0,
            flag :2
        },
        methods:{
            send(event){
                if (!(/^1(3|4|5|7|8|9)\d{9}$/.test(this.tel))) {
                    layer.open({content: '手机号码有误，请重写', skin: 'msg',time : 2});
                    return false;
                }
                axios.post(`https://csyueshi.com/app/index.php?i=3&c=entry&a=wxapp&m=mask&do=Smscode&tel=${this.tel}`).then(res=>{
                    // console.log(res);
                    layer.open({content: res.data.msg, skin: 'msg',time : 2});
                    if(res.data.code==1){// 发送成功
                        this.flag=1;
                        var time = 60;
                        var timer = setInterval(()=>{
                            event.target.innerHTML =time+'s';
                            time--;
                            if(time==0){
                                clearInterval(timer);
                                event.target.innerHTML = '获取验证码';
                                this.flag=2;
                            }
                        },1000)
                    }
                })
            },
            submit(){
                if (!(/^1(3|4|5|7|8|9)\d{9}$/.test(this.tel))) {
                    layer.open({content: '手机号码有误，请重写', skin: 'msg',time : 2});
                    return false;
                }
                if(!/^[0-9]{6}$/.test(this.code)){
                    layer.open({content: '请输入正确的验证码', skin: 'msg',time : 2});
                    return false;
                }
                if(this.paypsd.length<6){
                    layer.open({content: '请输入至少6位支付密码', skin: 'msg',time : 2});
                }
                axios.post(`https://csyueshi.com/app/index.php?i=3&c=entry&a=wxapp&m=mask&do=ForgetOrAddpaypsw&uid=${this.uid}&paypsw=${this.paypsd}&code=${this.code}&phone=${this.tel}`).then(res=>{
                    layer.open({content: res.data.msg, skin: 'msg',time : 2});
                    if(res.data.code==1){
                        setTimeout(()=>{
                            window.location.href='myasset.html';
                        },500)
                    }
                    console.log(res);
                })
            }
        },
        created(){
            this.uid = localStorage.uid;
        }
    })
</script>
</body>
</html>